.game-arena {
  position: relative;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 50px auto;
}
.snake-dot {
  position: absolute;
  height: 2%;
  width: 2%;
  background-color: black;
  z-index: 2;
  border-radius: 4px;
}

.food {
  position: absolute;
  height: 2%;
  width: 2%;
  background-color: brown;
  border-radius: 4px;

  z-index: 1;
}
